/* font family */
body {
    font-family: "Trebuchet MS", "Times New Roman", "Impact",
      "Comic Sans MS", "Calibri Normal", "Roboto";
  }

body{
  background-color: rgba(150,186,160,0.3)
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Navbar */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7f7f7;
  }
  
  /* Create horizontal list */
  ul.navbar li {
    float: left;
    
  }
  
  /* Style the links */
  ul.navbar li a {
    display: block;
    color: #014038;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Trebuchet MS", "Times New Roman", "Impact";
    font-size: 1.5em;
  }
  
  /* Change color on hover */
  ul.navbar li a:hover {
    background-color: #bdd4da;
  }
/* logo padding*/
.navbar-logo {
    
    padding: 2%;
   
}
/* logo image size */
.navbar-logo img {
    width: 80px;
    height: 80px;
    vertical-align: left;
}

/* Responsive navbar for small screens */
@media screen and (max-width: 420px) {
  ul.navbar li {
    float: none;
    width: 100%;
  }

  ul.navbar li a {
    text-align: left;
    padding: 5px; /* Reduce padding on small screens */
  }

  .navbar-logo img {
    width: 40px; 
    height: 40px;
  }
}
.mainTitle {
    text-align: center;
    color: #014038;
}
.secondTitle {
    text-align: center;
    color: #014038;
}

.mainImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height : 50%;
    width : 50%;
    z-index: -1; 
    position:relative;
}
.storyContainer {
   width: 100%;
   display: inline-block;
}
/* .storyImage{
    flex: 50%;
    order: 2;
    width: 50%;
    padding: 2%;
}

.storyText {
    display: inline-block;
    font-size: 1.5em;
    color: #014038;
} */

.storyText, .storyImage {
  display:inline-block;
  vertical-align:top
}

.storyImage {
  width: 30%;
  padding: 2%;
}
.storyText{
  width: 50%;
  padding: 2%;
  font-size: 1.5em;
  color: #014038;
}
footer {
    position : relative;
    display: block;
    bottom: 0;
    width: 100%;
    
    color: #014038;
}

.footerContainer {
    display: inline-flex;
    width: 100%;
    
}

.footerItem {
  display: inline-flex

}

.footerItemContact {
  display: inline-flex;
  text-align: center;
  margin-left: 50%;
}
.copyright {
    display: inline-flex;
    color: #014038;
    padding: 1em;
    opacity: 35%;
    text-align: center;
}
#contactUSLink {
    display: inline-flex;
    color: #014038;
    padding: 1em;
    opacity: 100%;
    text-align: center;
}


@media (max-width: 420px) {
  .storyImage {
    flex: 50%;
  }

  .storyBody {
    flex: 50%;
  }
  .gridGallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(85%, 1fr));
    grid-gap: 2%;
  }
}

.gridGallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 10px;
}

.gridGallery img {
    width: 100%;
    height: auto;
}
.subscribeContainer {
    text-align: center;
    display: flexbox;
}
#subscribeButton {
  
        background-color: #F0c06D;
        /* Blue color */
        border: none;
        color: black;
        /* White text color */
        padding: 15px 32px;
        /* Padding */
        text-align: center;
        /* Centered text */
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: "Comic Sans MS", Times, serif;
        margin: 4px 2px;
        cursor: pointer;
        /* Rounded corners */
        border-radius: 12px;
  }

 /* shopping page image styling */ 
.shoppingImage {
    width: 30%;
    height: auto;
}

.item button{
  background-color: #F0c06D;
        /* Blue color */
        border: none;
        color: black;
        /* White text color */
        padding: 2%;
        /* Padding */
        text-align: center;
        /* Centered text */
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: "Comic Sans MS", Times, serif;
        margin: 4px 2px;
        cursor: pointer;
        /* Rounded corners */
        border-radius: 12px;
  }
  
#shoppingItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 10px;
}

.item{
    text-align: center;
    font-size: 1.5em;
    color: #014038;
    padding: 0.5%;
    width: 100%;
}

.shoppingImage {
    width: 95%;
    height: auto;
}

.shoppingCartImage {
  display: block ;
    width: 25%;
    height: auto;
    align-items: left;
    padding: 2%;
}
.itemContainer {
    display: flexbox;
    text-align: left;
    font-size: 1.5em;
    color: #014038;
    padding: 2%;
    
    
}

.removeButton {
  background-color: #F0c06D;
        /* Blue color */
        border: none;
        color: black;
        /* White text color */
        padding: 2%;
        /* Padding */
        text-align: left;
        /* Centered text */
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: "Comic Sans MS", Times, serif;
        margin: 4px 2px;
        cursor: pointer;
        /* Rounded corners */
        border-radius: 12px;
  }




#contactForm {
  display: block;
  height: 100%;
  width: 100%;
}

#contactForm ,input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#contactForm input[type=submit] {
  background-color: #F0c06D;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

