.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Remove list styles*/
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7f7f7;
  }
  
  /* Create horizontal list */
  ul.navbar li {
    float: left;
  }
  
  /* Style the links */
  ul.navbar li a {
    display: block;
    color: #014038;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  ul.navbar li a:hover {
    background-color: #bdd4da;
  }

.navbar-logo {
    
    padding: 2%;
   
}
.navbar-logo img {
    width: 80px;
    height: 80px;
    vertical-align: left;
}
.mainTitle {
    text-align: center;
    color: #014038;
}
.secondTitle {
    text-align: center;
    color: #014038;
}

.mainImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height : 70%;
    width : 70%;
    z-index: -1; 
    position:relative;
}
.storyContainer {
   width: 100%;
   display: inline-block;
}
/* .storyImage{
    flex: 50%;
    order: 2;
    width: 50%;
    padding: 2%;
}

.storyText {
    display: inline-block;
    font-size: 1.5em;
    color: #014038;
} */

.storyText, .storyImage {
  display:inline-block;
  vertical-align:top
}

.storyImage {
  width: 30%;
  padding: 2%;
}
.storyText{
  width: 50%;
  padding: 2%;
  font-size: 1.5em;
  color: #014038;
}
footer {
    position : fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #014038;
}
.copyright {
    display: block;
    margin-right: 80%;
    color: #014038;
    padding: 1em;
}

@media (max-width: 600px) {
  .storyImage {
    flex: 50%;
  }

  .storyBody {
    flex: 50%;
  }
}